# An Introduction to Function

function are a very important part of any programming language and python is no different. 

An important consideration when writing code is that you want to try and avoid writing the same code over and over again. We can avoid this by using functions.

A function is a block of code that is run when it is called or in pandas when it is applied

Lets build a simple function. A function in python is defined by using the `def` keyword

In [4]:
def hello_world_function():
    print("Hello World")

We can then call this function by using the functions name, with the brackets.

In [5]:
hello_world_function()

Hello World

As you can see the `hello_world_function` just prints "Hello World"

It is also possible to provide arguments called parameters to functions which can then be used within the function to do "something"

In [6]:
def my_addition_function(x, y):
    z = x + y 
    print(z)

In [7]:
my_addition_function(1, 2)

3

In [8]:
my_addition_function(10, 12)

22

We can also provide an unknown amount of parameters to the function in this case we add `*` to the parameter name

In [13]:
def food_function(*args):
    print(args[1])
    
    # Print the first value

In [14]:
food_function('fish', 'steak')

steak

These parameters are accessed through via a list using the `[0]` notation.

It is also possible to run the function with keywords the useful thing about this is it remove the requirement to put the parameters in an order

In [19]:
def my_family_function(mum, dad):
    print("My mum's name is " + mum + " and my dads name is " + dad)

In [20]:
my_family_function(dad='Fred', mum='Laura')

My mum's name is Laura and my dads name isFred

We can also do something similar as we did with the unknown number of arguments. We can use the `**` to signify an unknown number of parameters in this case a dictionary is provided to the function and we can access the parameters from the dictionary

In [21]:
def my_family_function(**family):
    print("My mum's name is " + family['mum'] + " and my dads name is " + family['dad'])

In [22]:
my_family_function(mum='Laura', dad='Fred')

My mum's name is Laura and my dads name is Fred

Another very important features of parameter is the ability to set defaults this means that you can call a function without providing a parameter with a default, the function will then just use the default for the parameter

In [23]:
def jedi_function(name="Obi Wan"):
    print(name + " is a jedi")

In [24]:
jedi_function()

Obi Wan is a jedi

In [25]:
jedi_function(name='Luke')

Luke is a jedi

We have seen so far that we get a function to "do something". We can also get a function to do something and return is a value (or other data type). We do this using the `return` statement.

In [26]:
def my_multiplication_function(a,b):
    z = a * b 
    return z

In [27]:
f = my_multiplication_function(4, 5)

In [28]:
print(f)

20

We can also provide any data type to a function and it will be used within the function as that data type. Lets see this with a dictionary

In [32]:
def fruit_counter(fruits):
    print("I have " + str(fruits['bananas']) + " bananas")
    print("I have " + str(fruits['apples']) + " apples")
    print("I have " + str(fruits['pears']) + " pears")
    
    total_fruits = fruits['bananas'] + fruits['apples'] + fruits['pears']
    
    
    print("I have " + str(total_fruits) + " fruits")

In [33]:
fruits_dictionary  = {"bananas" : 7, "apples" : 8, "pears" : 3}

fruit_counter(fruits_dictionary)

I have 7 bananas
I have 8 apples
I have 3 pears
I have 18 fruits

As we have seen before we can actually use function within pandas using apply

In [35]:
import pandas as pd

data = pd.read_csv('./data/titanic.csv')

In [36]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [37]:
def adult_function(age):
    if age >= 18:
        return 'adult'
    else:
        return 'child'

In [39]:
data['is_adult'] = data['Age'].apply(adult_function)

In [40]:
data.groupby(['is_adult'])['Age'].count()

is_adult
adult    601
child    113
Name: Age, dtype: int64

### Exercises

1. Write a function which will determine if someone paid more than "10" for their ticket in the Titanic data

2. Write a function which will convert GBP to USD and print the output

3. Write a function which will take in an unknown amount of parameters and multiply them together